# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives**:
* List data science libraries
* List data science languages
* List Objectives
* Create code cells to perform operations

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. SciKit learn
3. Pandas
4. Matplotlib
5. Numpy

|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|Gitlab|

### Below are a few examples of evaluating arithmetic expressions in Python
* **Add** 22+3
* **Subtract** 15-5
* **Multiplication** 67*9

In [1]:
# This arithmetic expression multiply 3 by 4 and add 5 to it
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Marco Alves